<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  {{> header}}
  <link rel="stylesheet" href="index.css">
  <title>Escola programació</title>
</head>
<body>
  {{> menu}}

  <main class="container">
    <h1>Escola de programació</h1>

    <section class="cols-2">
      <article class="card">
        <h2>Cursos</h2>

        <ul class="list">
          {{#each cursos}}
            <li class="list-item">
              <strong>{{nom}}</strong><br>
              <span class="muted">{{tematica}}</span>
            </li>
          {{/each}}
        </ul>
      </article>

      <article class="card">
        <h2>Especialitats</h2>

        <ul class="list">
          {{#each especialitats}}
            <li class="list-item">
              {{nom}}
            </li>
          {{/each}}
        </ul>
      </article>
    </section>
  </main>

  {{> footer}}
</body>
</html>
