body {
    font-family: Roboto;
    font-size: 1.1em;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #333;
  padding: 0.5rem;
  text-align: left;
}

thead th {
  background-color: #2c3e50;
  color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #dbeafe;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

nav {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0.5rem;
  gap: 1rem;
}

a,
a:link,
a:visited {
  color: #1083e7;
  text-decoration: none;
}

a:hover {
  color: #2563eb;
  text-decoration: underline;
}

a:active {
  color: #ffaf03;
  text-decoration: none;
}